{% extends "base.html" %}

{% block title %}Rate Participants{% endblock %}

{% block content %}
<div class="card">
  <h2>Rate participants for trip <em>{{ proposal.title }}</em></h2>

{% for user in users %}
    <form method="POST" action="{{ url_for('trip.submit_ratings', trip_id=proposal.id) }}">
    <label>{{ user.name }}</label>
    <div class="flex">
    {% for i in range(1,6) %}
        <label>
            <input type="radio"
                   name="rating_{{ user.id }}"
                   value="{{ i }}">
            {{ "⭐" * i }}
        </label>
    {% endfor %}
    </div>

    <br><br>
    <button type="submit">Submit rating</button>
</form>


{% endfor %}
</div>
{% endblock %}