<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Together</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      {% if current_user.is_authenticated %}
        <span>User: <a href="{{ url_for('profile.profile', user_id=current_user.id) }}">{{ current_user.name }}</a></span>
        <a href="{{ url_for('profile.edit_profile') }}">Edit Profile</a>
        <a href="{{ url_for('trip.new_trip') }}">New Trip</a>
        <a href="{{ url_for('trip.list_all') }}">All Trips</a>
        <a href="{{ url_for('trip.my_trips') }}">My Trips</a>
        <a href="{{ url_for('auth.logout') }}">Log out</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Log in</a>
        <a href="{{ url_for('auth.signup') }}">Sign up</a>
      {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class="notification">{{ message }}</div>
      {% endfor %}
    {% endwith %}

    <main class="content-wrapper">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
